h1 {
  text-align: center;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
body {
  background-color: gray;
  font-family: "Nunito Sans", sans-serif;
  background-image: url(images/main-pic.jpg);
}
button {
  background-color: black;
  color: burlywood;
  width: 200px;
  height: 50px;
  border: 2px solid;
  border-radius: 25px;
  margin-left: 200px;
  display: block;
  font-size: medium;
}
button:hover {
  background-color: grey;
  border: 4px solid darkorange;
}
a:link {
  text-decoration: none;
}
